<header class="header-container flex">
    <div class="header-left"></div>

    <div class="header-center">
        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input type="text" placeholder="What do you want to play?" class="search-input">
        </div>
    </div>

    <div class="header-right">
        <div class="profile-container">
            <div class="profile-avatar">L</div>
            <div class="status-indicator"></div>
        </div>
    </div>
    </div>