<aside class="sidebar-container flex">
    <nav class="nav-container">
        <div class="list-container">
            <section class="nav-section">
                <h3>Khám Phá</h3>
                <ul>
                    <li><a href="#" class="nav-item active"><i class="fa-regular fa-house"></i> Trang Chủ</a></li>
                    <li class="nav-item"><a href="#"><i class="fa-light fa-door-closed"></i>Thể Loại</a></li>
                </ul>
            </section>
            <section class="nav-section">
                <h3>Thư Viện</h3>
                <ul>
                    <li class="nav-item"><a href="#" id="playlist-link">Playlist</a></li>
                    <li class="nav-item"><a href="#">Album</a></li>
                    <li class="nav-item"><a href="#">Yêu Thích</a></li>
                </ul>
            </section>
        </div>
    </nav>
</aside>