<aside class="sidebar-container flex">
    <nav class="nav-container">
        <div class="list-container">
            <ul>
                <section class="nav-section">
                    <h3>Khám Phá</h3>
                    <li><a href="#" class="nav-item active "><i class="fa-regular fa-house"></i> Trang Chủ</a>
                    </li>
                    <li class="nav-item"><a href="#"><i class="fa-light fa-door-closed"></i>Thể Loại</a></li>
                </section>
                <section class="nav-section">
                    <h3>Thư Viện</h3>
                    <li class="nav-item"><a href="#">Playlist</a></li>
                    <li class="nav-item"><a href="#">Album</a></li>
                    <li class="nav-item"><a href="#">Yêu Thích</a></li>
                </section>
            </ul>
        </div>
    </nav>
</aside>