<aside class="sidebar-container flex">
    <nav class="nav-container">
        <div class="list-container">
            <ul>
                <section class="nav-section">
                    <h3>Khám Phá</h3>
                    <li><a class="nav-item" href="../index.html"><i class="fa-regular fa-house"></i> Trang Chủ</a>
                    </li>
                    <li><a class="nav-item" href="../theLoai.html"><i class="fa-light fa-door-closed"></i>Thể Loại</a></li>
                </section>
                <section class="nav-section">
                    <h3>Thư Viện</h3>
                    <li><a class="nav-item" href="../playlist.html">Playlist</a></li>
                    <li><a class="nav-item" href="../album.html">Album</a></li>
                    <li><a class="nav-item" href="../yeuThich.html">Yêu Thích</a></li>
                </section>
            </ul>
        </div>
    </nav>
</aside>